@model IonLineMonitoringApp.Models.ShiftData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ShiftData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShiftDataId" />
            <div class="form-group">
                <label asp-for="LineId" class="control-label"></label>
                <select asp-for="LineId" class="form-control" asp-items="ViewBag.LineId"></select>
                <span asp-validation-for="LineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift" class="control-label"></label>
                <input asp-for="Shift" class="form-control" />
                <span asp-validation-for="Shift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineSpeed" class="control-label"></label>
                <input asp-for="LineSpeed" class="form-control" />
                <span asp-validation-for="LineSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalProduction" class="control-label"></label>
                <input asp-for="TotalProduction" class="form-control" />
                <span asp-validation-for="TotalProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalEnergy" class="control-label"></label>
                <input asp-for="TotalEnergy" class="form-control" />
                <span asp-validation-for="TotalEnergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
